@media only screen and (min-width: 425px) and (max-width: 768px) {
  .navbar{
    background: #fff !important;
	color: black;
  box-shadow: 0 1px 30px rgba(0,0,0,.1);
  }
  .wrap {
    font-size: 1.2rem;
    line-height: 1.4 !important;
    max-width: 70vw !important;
  }
  .main-text {
    top: 1vh !important;
  }
  .btn {
    font-size: 0.8rem;
  }
  .maincall {
    font-size: 0.8rem;
    padding-left: 5px !important;
  }
}
@media only screen and (min-width: 375px) and (max-width: 425px) {
	 .navbar{
    background: #fff !important;
	color: black;
  box-shadow: 0 1px 30px rgba(0,0,0,.1);
  }
  .wrap {
    font-size: 1.1rem;
    line-height: 0.8 !important;
  }
  .about-col {
    margin-left: 3vw;
    margin-right: 10vw;
  }
  .contact-row p {
    font-size: 0.9rem;
    margin-left: 4vw;
  }
  .social-icons a i {
    font-size: 2rem;
  }
  .copyright p {
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 290px) and (max-width: 360px) {
	 .navbar{
    background: #fff !important;
	color: black;
  box-shadow: 0 1px 30px rgba(0,0,0,.1);
  }
	.navbar-brand{
		font-size: 1.1rem;
		margin-right: 0 !important;
	}
  html {
    padding: 0 !important;
  }
  .wrap {
    font-size: 0.8rem;
    line-height: 1 !important;
  }
  .main-text {
    top: 1vh !important;
  }
  .btn {
    font-size: 0.6rem;
  }
  .maincall {
    font-size: 0.6rem;
    padding-left: 5px !important;
  }
  .about-col {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .contact-row p {
    font-size: 0.75rem;
    margin-left: 3vw;
  }
  .social-icons a i {
    font-size: 1.5rem;
  }
  .copyright p {
    font-size: 0.65rem;
    padding: 5px !important;
  }
}
